body {
    background-image: url('https://www.de-wolk.be/themes/custom/bootstrap/starterkits/dewolkbe/images/backgrounds/home-bg.svg');
    background-size: cover; /* Zorgt ervoor dat de afbeelding het hele scherm bedekt */
    background-repeat: no-repeat; /* Voorkomt herhaling van de afbeelding */
    background-attachment: fixed; /* Behoudt de achtergrondafbeelding op een vaste positie */
}
}

h1 {
    font-family: "Roboto", sans-serif; /* Gebruik het Roboto-lettertype voor de hele pagina */
    text-align: center;
}

#rentalForm {
    max-width: 400px;
    margin: 20px auto;
}

#rentalForm label,
#rentalForm input,
#rentalForm select,
#rentalForm button {
    display: block;
    margin: 10px 0;
}

#rentalForm button {
    margin-top: 20px;
}

#terugnameContainer {
        position: absolute;
        top: 10px;
        left: 10px;
}

#rentalHistory {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

#rentalHistory th,
#rentalHistory td {
    border: 1px solid #595959;
    padding: 8px;
    text-align: center;
}

#rentalHistory th {
    background-color: #f2f2f2;
}
