body {
    font-family: "Roboto", sans-serif;
    background-image: url('https://www.de-wolk.be/themes/custom/bootstrap/starterkits/dewolkbe/images/backgrounds/home-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#rentalForm {
    max-width: 400px;
    margin: 20px auto;
}

#rentalForm label,
#rentalForm input,
#rentalForm select,
#rentalForm button {
    display: block;
    margin: 10px 0;
}

#rentalForm button {
    margin-top: 20px;
}

#terugnameContainer {
    position: absolute;
    top: 10px;
    left: 10px;
}

#rentalHistory {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

#rentalHistory th,
#rentalHistory td {
    border: 1px solid #595959;
    padding: 8px;
    text-align: center;
}

#rentalHistory th {
    background-color: #f2f2f2;
}
