body {
    background-image: url('https://www.de-wolk.be/themes/custom/bootstrap/starterkits/dewolkbe/images/backgrounds/home-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

#rentalForm {
    max-width: 400px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.8); /* Donkere achtergrondkleur */
    padding: 20px; /* Voeg wat ruimte toe rondom het formulier */
}

#rentalForm label,
#rentalForm input,
#rentalForm select,
#rentalForm button {
    display: block;
    margin: 10px 0;
}

#rentalForm button {
    margin-top: 20px;
}

#rentalHistory {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.8); /* Donkere achtergrondkleur */
    padding: 20px; /* Voeg wat ruimte toe rondom de tabel */
}

#rentalHistory th,
#rentalHistory td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#rentalHistory th {
    background-color: #f2f2f2;
}
